<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2> This is notice page </h2>

<th:block th:if="${mode} == 'write'">
    <h3>mode: <span th:text="${mode}"></span></h3>
    <form th:action="@{/notice/write}" method="post">
        <th:block th:if="${error} != null">
            <small th:text="${error}"></small><br>
        </th:block>
        <label>
            <input type="text" th:name="title" placeholder="제목을 입력하세요." th:value="${title != null ? title : ''}"/>
        </label>
        <label>
            <textarea th:name="content" placeholder="내용을 작성해 주세요." th:text="${content != null ? content : ''}"></textarea>
        </label>
        <button type="submit" class="submitBtn">등록</button>
        <button type="button" class="listBtn" th:onclick="|location.href='@{/notice/list(page=${ph.page})}'|">취소</button>
    </form>
</th:block>

<th:block th:if="${mode} == 'read'">
    <h3>mode: <span th:text="${mode}"></span></h3>
    <form action="#">
        <input type="hidden" class="noticeNo" th:name="notice_no" th:value="${notice.notice_no}"/>
        <label>
            <input type="text" th:value="${notice.title}" th:readonly="true"/>
        </label>
        <label>
            <textarea th:text="${notice.content}" th:readonly="true"></textarea>
        </label>
        <button type="button" class="listBtn" th:onclick="|location.href='@{/notice/list(page=${ph.page})}'|">목록</button>
        <!--        <th:block th:if="${role} == 'ADM'">-->
        <button type="button" class="modifyBtn" th:onclick="|location.href='@{/notice/modify(notice_no=${notice.notice_no}, page=${ph.page})}'|">수정</button>
        <button type="button" class="removeBtn">삭제</button>
        <!--        </th:block>-->
    </form>
</th:block>

<th:block th:if="${mode} == 'modify'">
    <h3>mode: <span th:text="${mode}"></span></h3>
    <form th:action="@{/notice/modify}" method="post">
        <th:block th:if="${error} != null">
            <small th:text="${error}"></small><br>
        </th:block>
        <input type="hidden" th:name="page" th:value="${ph.page}"/>
        <input type="hidden" th:name="pageSize" th:value="${ph.pageSize}"/>
        <input type="hidden" class="noticeNo" th:name="notice_no" th:value="${notice.notice_no}"/>
        <label>
            <input type="text" th:name="title" th:value="${notice.title}"/>
        </label>
        <label>
            <textarea th:name="content" th:text="${notice.content}"></textarea>
        </label>
        <button type="button" class="listBtn" th:onclick="|location.href='@{/notice/list(page=${ph.page})}'|">목록</button>
        <!--        <th:block th:if="${role} == 'ADM'">-->
        <button type="submit" class="submitBtn">저장</button>
        <button type="button" class="removeBtn">삭제</button>
        <!--        </th:block>-->
    </form>
</th:block>
<script>
    let noticeNoClass = document.querySelector(".noticeNo");
    let removeBtn = document.querySelector(".removeBtn");
    removeBtn.addEventListener("click", function () {
        if (!confirm("정말로 삭제하시겠습니까?")) return;

        let noticeNo = noticeNoClass.value;

        let form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", "/notice/delete");

        let input = document.createElement("input");
        input.setAttribute("type", "hidden");
        input.setAttribute("name", "notice_no");
        input.setAttribute("value", noticeNo);
        form.appendChild(input);

        document.body.appendChild(form);
        form.submit();
    })
</script>
</body>
</html>